$font-logo: "Pacifico-Regular";
$font-title-bold: "Raleway-Bold";
$font-text-light: "Raleway-Light";
$font-heavy: "Raleway-Heavy";
$font-size-title-media1000px: 30px;
$font-size-text-media1000px: 15px;
